<% include ./layouts/header %>
<h1>Panel de Administracion</h1>
<!-- jQuery Modal -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css"
    integrity="sha256-HAaDW5o2+LelybUhfuk0Zh2Vdk8Y2W2UeKmbaXhalfA=" crossorigin="anonymous" />
<div class="container">
    <div class="row">
        <div class="col">

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Email</th>
                        <th scope="col">Rol</th>
                        <th scope="col">Estado de cuenta</th>
                        <th scope="col">CUIT</th>
                        <th scope="col">ID</th>
                        <th scope="col">DNI adelante</th>
                        <th scope="col">DNI atras</th>
                        <th scope="col">Editar</th>
                        <th scope="col">Borrar</th>
                    </tr>
                </thead>

                <tbody>
                    <% if(typeof admincuenta !== 'undefined') { %>

                    <% admincuenta.forEach(function(admincuenta) { %>
                    <tr>
                        <td><%- admincuenta.email%></td>
                        <td><%- admincuenta.role.substring(0,25) %></td>
                        <td>
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#exampleModal">
                                <%- admincuenta.estadodecuenta %>
                            </button>

                           

                        </td>
                        <td><%- admincuenta.cuit  %></td>
                        <td><%- admincuenta._id  %></td>
                        <td>
                            <a href="http://localhost:3000/<%- admincuenta.fotodnidelante %>" data-toggle="lightbox"
                                data-title="A random title">
                                <img src="http://localhost:3000/<%- admincuenta.fotodnidelante %>" class="img-fluid">
                            </a>
                        </td>
                        <td>
                            <a href="http://localhost:3000/<%- admincuenta.fotodniatras %>" data-toggle="lightbox"
                                data-title="A random title">
                                <img src="http://localhost:3000/<%- admincuenta.fotodniatras %>" class="img-fluid">
                            </a>
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary">
                                <a style="color: aliceblue;" href="/editarfromadmin/<%- admincuenta._id  %>">Editar</a>
                            </button>
                        </td>
                        <td>
                            <form action="/borrarcuenta" method="POST">
                                <div class="form-group">
                                    <input name="borrarid" id="borrarid" type="hidden" class="form-control"
                                        value="<%- admincuenta._id %>">
                                    <button type="submit" class="btn btn-danger">Borrar</button>
                                </div>
                            </form>
                        </td>
                    </tr>
                    <% }); %>
                    <% } %>

                </tbody>
            </table>

            <nav aria-label="Page navigation example">
                <% if(typeof pages !== 'undefined') { %>
                <% if (pages > 0) { %>
                <ul class="pagination">
                    <% if (current == 1) { %>
                    <li class="page-item"><a class="page-link" class="disabled">
                            << </a> <% } else { %> <a class="page-link" href="/administrador/1">
                                <<</a> <% } %> <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                                    <% if (i !== 1) { %> <a class="page-link" class="disabled">...
                        </a></li>
                    <% } %>
                    <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                    <% if (i == current) { %>
                    <li class="page-item"><a class="page-link active"><%= i %></a></li>
                    <% } else { %>
                    <li class="page-item"><a class="page-link" href="/administrador/<%= i %>"><%= i %></a></li>
                    <% } %>
                    <% if (i == Number(current) + 4 && i < pages) { %>
                    <li class="page-item"><a class="page-link disabled">...</a></li>
                    <% } %>
                    <% } %>
                    <% if (current == pages) { %>
                    <li class="page-item"><a class="page-link disabled">>></a></li>
                    <% } else { %>
                    <li class="page-item"><a class="page-link" href="/administrador/<%= pages %>">>></a></li>
                    <% } %>
                </ul>
                <% } %>
                <% } %>
            </nav>
        </div>
    </div>

    <% include ./layouts/footer %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"
        integrity="sha256-Y1rRlwTzT5K5hhCBfAFWABD4cU13QGuRN6P5apfWzVs=" crossorigin="anonymous"></script>
    <script>
        $(document).on('click', '[data-toggle="lightbox"]', function (event) {
            event.preventDefault();
            $(this).ekkoLightbox();
        });
    </script>