<% include ./layouts/header %>
<h1>Panel de Administracion</h1>
<!-- jQuery Modal -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css"
    integrity="sha256-HAaDW5o2+LelybUhfuk0Zh2Vdk8Y2W2UeKmbaXhalfA=" crossorigin="anonymous" />


<form action="/administradorActualizar" method="POST">


        <div class="modal-body">
            <input name="cuentaid" id="cuentaid" type="text" class="form-control" value="<%- admincuenta._id %>">
            <div class="form-group">
                <label for="textoelegido">Toque para abrir las opciones</label>
                <select class="form-control" name="textoelegido" id="textoelegido">
                    <option value="Cuenta verificada">Confirmar verificacion de cuenta</option>
                    <option value="Cuenta no verificada">Establecer cuenta no verificada
                    </option>
                </select>
            </div>

            <div class="form-group">
                <label for="email">Su correo electronico</label>
                <input value="<%- admincuenta.email %>" type="email" name="email" class="form-control" id="email"
                    required>
            </div>
            <div class="form-group">
                <label for="password">Cree una contraseña</label>
                <input value="<%- admincuenta.password %>" type="text" name="password" class="form-control"
                    id="password" required>
            </div>
            <div class="form-group">
                <label for="cuit">CUIT</label>
                <input value="<%- admincuenta.cuit %>" type="number" name="cuit" class="form-control" id="cuit"
                    required>

            </div>
            <div class="form-group">
                <label for="numerodecelular">Numero de celular</label>
                <input value="<%- admincuenta.numerodecelular %>" type="text" name="numerodecelular"
                    class="form-control" id="numerodecelular" required>
            </div>
            <div class="form-group">
                <label for="dniadelante">Foto de la parte de adelante de su DNI</label>
                <div class="custom-file">
                    <input type="file" name="dni" class="custom-file-input" id="customFileLang2" lang="es">
                    <label class="custom-file-label" for="customFileLang2">Seleccionar
                        Archivo</label>
                </div>
            </div>
            <div class="form-group">
                <label for="dniatras">Foto de la parte de atras de su DNI</label>
                <div class="custom-file">
                    <input type="file" name="dni1" class="custom-file-input" id="customFileLang" lang="es">
                    <label class="custom-file-label" for="customFileLang">Seleccionar
                        Archivo</label>
                </div>
            </div>

        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-danger">Aplicar cambios</button>
        </div>
    </form>

    <% include ./layouts/footer %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"
        integrity="sha256-Y1rRlwTzT5K5hhCBfAFWABD4cU13QGuRN6P5apfWzVs=" crossorigin="anonymous"></script>
    <script>
        $(document).on('click', '[data-toggle="lightbox"]', function (event) {
            event.preventDefault();
            $(this).ekkoLightbox();
        });
    </script>